<!DOCTYPE html>
{% extends "layout.html" %}
{% block title %}
Become A Tutor
{% endblock %}
{% block content %}
<html>
<body>
    <form action="/become-tutor" method="POST" id="register-form">

        <h2>Tutor Register</h2>
        <div class="emailRegister-container">
            <input type="text" name="email" placeholder="Email...">
        </div>
        <input type="text" name="fname" placeholder="First Name...">
        <input type="text" name="sname" placeholder="Surname...">
        <input type="password" name="password" placeholder="Password...">

        <button type="submit" name="action" value="register">Submit</button>
        </div>

</html>





{% endblock %}