<!DOCTYPE html>
{% extends "layout.html" %}
{% block title %}
Become A Tutor
{% endblock %}
{% block content %}
<html>
<body>
    <form action="/become-tutor" method="POST" id="register-form">

        <h2>Tutor Register</h2>
        <div class="emailRegister-container">
            <input type="text" name="email" placeholder="Email...">
        </div>
        <input type="text" name="fname" placeholder="First Name...">
        <input type="text" name="sname" placeholder="Surname...">
        <input type="password" name="password" placeholder="Password...">

        <button type="submit" name="action" value="register">Submit</button>
        </div>

</html>



what do you think of the fortnite battle pass. Personally guys I feel it's kind of a scam now. First of all, you have to pay 950 v-bucks for it and I'm pretty sure you don't even get those v-bucks back by levelling up on the battle pass in the fortnite battle royale universe

{% endblock %}